<div class="main">
  <div id="lefthand-container">
    <header>
      <!-- <a href="" target="_blank" rel="noopener"> -->
        <img src="/images/mainLogo.png" alt="Yocolab logo"  style="height: 150px;width: 200px;" width="200px">
      <!-- </a> -->
      <h2>
        <!-- <% if (appName === "Vonage Free Conferencing") { %>
          Vonage
          <br>
          Free Conferencing
        <% } else { %>
          <%= appName %>
        <% } %> -->
        You are about join <%=roomName%>
      </h2>
      <p>
        The beautiful thing about learning is nobody can take it away from you 
      </p>
    </header>
    <% if (introFooterLinkText) { %>
    <footer>
      <a href="<%=introFooterLinkUrl%>" target="_blank" rel="noopener"><%=introFooterLinkText%></a>
    </footer>
    <% } %>
</div>
<div id="righthand-container" class="user-name-modal">
  <div class="landing-more-info">
    <% if (helpLinkText1) { %>
      Need help?
        <% if (helpLinkText1 && helpLinkUrl1 ) { %>
          <a href="<%= helpLinkUrl1 %>" target="_blank"><%= helpLinkText1 %></a>
        <%
           }
           if (helpLinkText2 && helpLinkUrl2 ) {
        %>
          /
          <a href="<%= helpLinkUrl2 %>" target="_blank"><%= helpLinkText2 %></a>
        <% } %>
    <% } %>
  </div>
  <form method="post">
    <div id="video-preview">
    </div>
    <div id="settings-prompt">
      <% if (!autoGenerateRoomName && !roomName) { %>
      <div id="enter-room-name-prompt">
        <div class="room-name-input-container">
          <input id="room-name-input" class="block username" name="roomName" autocomplete="off" maxlength="46" value="<%=roomName%>">
          <label>Room Name</label>
          <p class="error-room error-text">
            <i data-icon="warning"></i>
            Please enter a meeting name.
          </p>
        </div>
      </div>
      <% } %>
      <div class="user-name-input-container">
        <input style="display:none"  id="user-name-input" class="block username" name="userName" autocomplete="off" data-wd="username" maxlength="46" value="<%= sampleName %>">
      </div>

      <div class="publish-settings">
        <div id="video-settings">
          <div>
            <img alt="video source toggle" src="/images/icons/Vlt-icon-video-active-full.svg" />
            <span>Camera</span>
          </div>
          <div class="right-settings">
            <div class="sourcePick switch-button" id="video-switch">
              <a id="preToggleFacingMode"> Switch </a>
            </div>
            <a id="initialVideoSwitch" class="activated">
              <label>On</label>
              <i data-icon="videoSwitch"></i>
            </a>
          </div>
        </div>
        <div id="audio-settings">
          <div>
            <img alt="audio source toggle"src="/images/icons/Vlt-icon-microphone-full.svg" />
            <span>Microphone</span>
            <div id=audio-meter-container>
              <div id="audio-meter">
                <div id="audio-meter-level">
                </div>
              </div>
            </div>
          </div>
          <div class="right-settings">
            <div class="sourcePick switch-button" id="audio-switch">
              <a id="prePickMic"> Switch </a>
            </div>
            <a id="initialAudioSwitch" class="activated">
              <label>On</label>
              <i data-icon="audioSwitch"></i>
            </a>
          </div>
        </div>
        <% if (enablePrecallTest) { %>
        <div id="pre-call-test">
          <div id="precall-test-labels">
            <img src="/images/icons/connectivity-icon.svg" />
            <span id="connectivity-test-label">Connectivity test</span>
            <span id="test-status">
              <label></label>
              <button id="connectivity-cancel">
                <i data-icon="connectivity-cancel"></i>
              </button>
            </span>
          </div>
        </div>
        <div id="precall-test-meter">
          <div id="precall-test-meter-level">
          </div>
        </div>
        <% } %>
        <button id="enter" class="btn" type="submit" data-wd="enterbutton" disabled>
          <span><%=enterButtonLabel%></span>
        </button>
      </div>
    </div>
    
  </form>
  <% if (enablePrecallTest) { %>
  <div id="pre-call-test-results">
    <i data-icon="close-box" id="precall-close"></i>
    <i data-icon="precall-tick" id="precall-icon"></i>
    <p id="pre-call-heading">Precall Test Results</p>
    <p id="pre-call-description">
      You can expect a great experience on your video call!
    </p>
    <div id="results">
      <div id="precall-video-results" class="precall-media-results">
        <p class="media-heading">
          VIDEO QUALITY
        </p>
        <p class="bitrate">
          <span id="video-bitrate"></span> Kbps
        </p>
        <p id="precall-resolution">
        </p>
        <p id="precall-framerate">
        </p>
        <p id="precall-video-packet-loss">
        </p>
      </div>
      <div id="precall-audio-results" class="precall-media-results">
        <p class="media-heading">
          AUDIO QUALITY
        </p>
        <p class="bitrate">
          <span id="audio-bitrate">40</span> Kbps
        </p>
        <p id="precall-audio-packet-loss">
          0% packet loss
        </p>
      </div>
    </div>
    <div id="retest">
      <i data-icon="precall-retest" id="precall-retest"></i>
      Re-test
    </div>
  </div>
  <% } %>
</div>
</div>

